.work{
    text-align: center;
}
.work__title{
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-align: center;
}
.work__desc{
    font-size: var(--size-sm);
    color:  var(--clr-slate600);
    max-width: 60ch;
    text-align: center;
    margin: 1rem auto;
}

.work__content__title2{
    display: none;
}
.work__content__title{
    color: var(--clr-light);
    font-size: var(--size-2xl);
    text-transform: capitalize;
}
.work__container__content{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.work__container__content__desc{
    margin: 1rem 0;
    color: var(--clr-slate600);
    max-width: 60ch;
    font-size: var(--size-sm);
}
.work__img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border: 5px solid var(--clr-rose);
    border-radius: 15px;
}




/* xs */

@media (min-width:475px){
    .work__title{
        font-size: var(--size-3xl);
    }
    .work__desc{
        font-size: var(--size-base);
    }
    .work__img{
        height: 28rem;
        width: 28rem;
    }
    .project__link{
        font-size: var(--size-lg);
    }
}
/* small */

@media (min-width:640px){
   
}
/* medium */

@media (min-width:768px){
    .work__content__title{
        font-size: var(--size-3xl);
    }
    .work__container__content__desc{
        font-size: var(--size--5xl);
    }
    .project__link{
        font-size: var(--size-2xl);
    }
}
/* large */

@media (min-width:1024px){
    .work__title{
        font-size: var(--size-4xl);
    }
    .work__desc{
        font-size: var(--size-lg);
    }
    .work__container__content{
        flex-direction: row;
    }
    .work__content__title1{
        display: none;
    }
    .work__content__title2{
        display: block;
    }
    .work__img{
        height: 28rem;
        width: 28rem;
    }
    .work__container__content__details{
        display: flex;
        place-items: center;
        gap: 25px;
        flex-direction: column;
    }
    .work__container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(660px,1fr));    
        grid-gap: 20px;
    }
    .work__container__content__desc{
        font-size: var(--size--9xl);
    }

}
/* xlarge */

@media (min-width:1280px){
    .work__title{
        font-size: var(--size-5xl);
    }
    .work__desc{
        font-size: var(--size-xl);
    }
    .work__container__content__desc{
        font-size: var(--size--10xl);
    }
}
/* 2xlarge */

@media (min-width:1536px){
    .work__img{
        height: 20rem;
        width: 25rem;
    }
}